.img-icon-prin{
    max-width: 200px;
}
.img-icon{
    max-width: 50px;
}
.form_busqueda{
    width: 500px;
}
.tituloPrin{
    color: green;
    font-weight: bold;
    font-size: smaller;
}

.cuerpo_pagina {
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.menu-ppal i{
    font-size: 20px;
}

.item-pelicula{
    background: white;
}

.item-carrusel{
    background: #bdbdbd;
}

.imagenes-inicio h1{
    margin-bottom: 0;
}

.imagen-pelicula{
    width: 200px;
}

.imagen-pelicula img, .poster-peli{
    width: 100%;
    height: auto;
}

.item-pelicula .ui-chip-text, .detalle-infopelicula .ui-chip-text{
    font-size: 11px !important;
}

.trailer-peli{
    width: 100%;
    height: 415px;
}

.detalle-infopelicula img{
    margin-bottom: 20px;
}

.detalle-infopelicula h4{
    font-size: 16px;
    text-transform: uppercase;
}

.detalle-infopelicula p, .detalle-infopelicula .ui-chip-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.sombra{
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
}

.btn-dia-func{
    width: 14%;
    margin-right: 2px !important;
}

.item-func {
    background: #f8f9fa;
}

.item-confite img, .imagen-peli{
    max-width: 100%;
}

.item-silla{
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}

.silla-elegida{
    background: red;
    color: white;
}

.detalle-infopelicula .shadow, .funciones-peli .shadow{
    background: white;
}

.lista-busqueda .ui-dataview-row{
    padding: 30px;
}

.indice-col{
    width: 50px;
    height: 50px;
}

.item-silla, .indice-fila{
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
}

.indice-col p, .indice-fila p{
    vertical-align: middle;
}

.img-carousel{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
}

.icon-social-m i{
    font-size: 20px;
}

.btn-sin-linea a{
    text-decoration: none;
}
